.done {
    text-decoration: line-through;
}

.container {
    margin: 0 auto;
    padding: 50px 0;
    width: 400px;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}

li,
p {
    padding-bottom: 5px;
}